<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Bárbara, Catarina, Miriam">
		<meta name="keyword" content="TPW, Proj1, Web, Responsive, Bootstrap, jQuery">
		<title>LEI Source</title>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../static/app/content/bootstrap.min.css">
		
		<!-- Costum CSS -->
		<link rel="stylesheet" href="../../static/app/content/style.css">

		<!-- font-awesome icons -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

    <body>
		<div id="homecontainer" class="home" align="center">
	        <form method="POST" style="margin: 0 auto; width: 30%; color: black">
                {% csrf_token %}
                {{ form.as_p }}

                <br/><br/>

                <button class="btn btn-success btn-block" type="submit">Registar</button>
            </form>
        </div>

					
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src=".../../static/app/scripts/jquery-1.10.2.min.js"></script>
		
	    <!-- Costum jQuery -->
	    <script src="../../static/app/scripts/main.js"></script>

	    <!-- Plugins -->
	    <script src="../../static/app/scripts/bootstrap.min.js"></script>
	    <script src="../../static/app/scripts/jquery.validate.min.js"></script>
    </body>
</html>